body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: rgb(202, 202, 202);
    font-weight:100;
}

img {
    max-width: 300px; 
    margin-top: 20px;
}

#title{
    border: 0;
}

button {
    padding: 10px 15px;
    margin: 10px;
    width: 200px;
    cursor: pointer;
    background-color: cadetblue;
    border-radius: 10px;
    border: 0;
    transition: background-color 0.3s, transform 0.3s; 
    color: aliceblue;
    font-weight: bold;
}

button:hover {
    background-color:darkcyan;
    transform: scale(1.05); 
}

.form-control{
    margin: 10px 0;
    padding: 8px;
    width: 200px;
    border-radius: 10px;
}

#resultado{
    padding: 10px;
    border-radius: 10px;
    font-family: sans-serif
}